@use "vars" as *;
@use "styles" as *;
main
{
    background-color: $main-color;
    display: flex;
    flex-direction: row;
    height: 100%;
}
.chats-list
{
    flex:2;
    z-index: 1;
    box-shadow: 2px 0px 2px -1px #ececec;
    overflow: hidden;
    background-color: $main-color;
    max-height: 100%;
    overflow-y: scroll;
    scrollbar-width: 0px;
   
    &::-webkit-scrollbar
    {
        display: none;
    }
    .new-chat-button
    {
        background-color: $link-blue;
        color:$main-color;
        width:40px;
        height:40px;
        border-radius: 50%;
        position:fixed;
        bottom: 10px;
        left: 22.5%;
        @include shadow($blur:10px, $spread:-1px);
        svg
        {
            font-size: 1rem;
        }
    }

    

}


.avatar-img
{
   
    width:2.2rem;
    height:2.2rem;
    overflow: hidden;
    border-radius: 50%;
    @include shadow($y:2px,$blur:10px);

    background-color: $light-gray;
}
.my-profile
{
    padding: 10px;
    z-index:14;
    display: flex;
    align-items: center;
    @include shadow($blur:5px, $x:0px, $spread:-5px);
    .avatar-img
    {
        width:2.5rem;
        height:2.5rem;
    }
    .add-info
    {
        padding: 4px;
        
        align-items: center;
        justify-content: start;
        flex: auto;
        
        h3
        {
            flex:auto;
        }
        .nickname
        {
            color:$link-blue;
            font-size: 0.8rem;
        }
        
    }
   
    
    
}
.chat-item
{

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
   
    align-items: center;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid $light-gray;
    transition: background-color 0.15s;
    
    img
    {
        min-height: 50px;
        min-width: 50px;
        flex:none;
        border-radius: 50%;
    }
    .text-block
    {
        flex: auto;
        p
        {
           
            margin-left: 10px;
            &.last-message
            {
                margin-top: 10px;
                font-size: 0.75rem;
                border-radius: $border-radius;
                font-family: "Physis-Light";
                max-height: 2ch;
                
                
                color:$dark-gray;
                background-color: $light-gray;
                float: left;
            
                padding: 2px;
                padding-left: 8px;
                padding-right: 8px;
                border-radius: 7px;
                
              
               
                text-overflow: ellipsis;
                overflow: hidden;
                
            }
        }
    }
    .unseen-messages-counter
    {
        flex:none;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width:2rem;
        height: 2rem;
        text-align: center;
        
        background-color: $link-blue;
        p
        {
            color:$main-color;
        }
    }
    &:hover
    {
        background-color: $light-gray;
    }
    &.selected
    {
        
        background-color: $light-blue;

    }
}
#edit-user-info-modal
{
    .modal-window-body
    {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    input
    {
        margin-bottom: 10px;
    }
    .avatar-img
    {
        width: 8rem;
        height: 8rem;
        align-self: center;
       
       
    }
    .file-upload-button
    {
        text-align: center;
        background-color: $light-gray;
        width: 30%;
        align-self: center;
        margin-top: 10px;
        padding: 4px;
        border-radius: 10px;
        font-family: "Physis-Medium";
        font-size: 0.85rem;
        cursor: pointer;
        & + input[type='file']
        {
            display: none;
        }
    }

    h5
    {
        margin-bottom: 8px;
    }
    .remove-button
    {
        padding:4px;
        width: 30%;
        margin-top: 10px;
        align-self: center;
    }
}
#new-chat-modal
{
    .modal-window
    {
        align-self: flex-start;
        margin-top: 10%;
    }
    .modal-window-body
    {
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        padding-bottom: 16px;
        input
        {
            flex-grow: 2;
            
        }
        button
        {
            margin-left: 10px;
        }
        .error-msg
        {
            flex-grow: 10;
        }
    }
}
