@use "vars" as *;
@use "styles" as *;
main
{
    background-color: $main-color;
    display: flex;
    flex-direction: row;
    height: 100%;
}
.chats-list
{
    flex:2;
    z-index: 9;
    box-shadow: 2px 0px 2px -1px #ececec;
    overflow: hidden;
    background-color: $main-color;
    max-height: 100%;
    overflow-y: scroll;
    scrollbar-width: 0px;
   
    &::-webkit-scrollbar
    {
        display: none;
    }
    .new-chat-button
    {
        background-color: $link-blue;
        color:$main-color;
        width:40px;
        height:40px;
        border-radius: 50%;
        position:fixed;
        bottom: 10px;
        left: 22.5%;
        @include shadow($blur:10px, $spread:-1px);
        svg
        {
            font-size: 1rem;
        }
    }

    

}
.chat
{
    flex:6;
    display: flex;
    flex-direction: column;
    z-index: 1;
    
    
    .top-bar
    {
        
       
        background-color: $main-color;
        padding: 0.25rem;
        padding-left: 0.5rem;
        display: flex;
        align-items: center;
        
        @include shadow($blur:7px);
        z-index: 8;
        p
        {
            margin-left: 10px;
        }
    }
    .bottom-bar
    {
        background-color: $main-color;
        padding: 0.3rem;
        display: flex;
        align-items: center;
        padding-bottom: 20px;
        button
        {
            margin: 2px;
            padding: 10px;
            svg{ font-size: 1rem;}

        }
        
        
    }
    
}

.avatar-img
{
   
    width:2.2rem;
    height:2.2rem;
    overflow: hidden;
    border-radius: 50%;
}
.my-profile
{
    padding: 10px;
    z-index:14;
    display: flex;
    align-items: center;
    @include shadow($blur:5px, $x:0px, $spread:-5px);

    .add-info
    {
        padding: 4px;
        display: flex;
        align-items: center;
        justify-content: start    ;
        flex: auto;
        h3
        {
            flex:auto;
        }
        
    }
   
    
    
}
.chat-item
{

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
   
    align-items: center;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid $light-gray;
    &:hover
    {
        background-color: $light-gray;
    }
    img
    {
        min-height: 50px;
        min-width: 50px;
        flex:none;
        border-radius: 50%;
    }
    .text-block
    {
        flex: auto;
        p
        {
           
            margin-left: 10px;
            &.last-message
            {
                margin-top: 10px;
                font-size: 0.75rem;
                border-radius: $border-radius;
                font-family: "Physis-Light";
                max-height: 3ch;
                
                
                color:$dark-gray;
                
              
               
                text-overflow: ellipsis;
                overflow: hidden;
                
            }
        }
    }
    .unseen-messages-counter
    {
        flex:none;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width:2rem;
        height: 2rem;
        text-align: center;
        
        background-color: $link-blue;
        p
        {
            color:$main-color;
        }
    }
    
    &.selected
    {
        background-color: $light-gray;
    }
}
