.auto-size-text-area
{
    
    box-sizing: border-box;
    flex:10;    
    
    font-size: 0.8rem;
    resize:none;
    height: 4ch;
    @for $i from 1 through 6
    {
        &.size-#{$i}
        {
            height: 3.25ch + 2*$i;
        }   
    }
   
    
}