.auto-size-text-area
{
    
    box-sizing: border-box;
    flex:10;    
    
    font-size: 0.8rem;
    resize:none;
    height: 5ch;
    max-height: 5ch *3;
   
    
}
@media screen and (max-width:768px) {
    .auto-size-text-area
    {
        height: auto;
    }
}