@use "vars" as * ;
@use "styles" as *;
.user-status
{
    color:$dark-gray;
    font-size: 0.75rem;
    font-family: "Physis-Light";
    &.online
    {
        color:$link-blue;
    }
}
.chat
{
    flex:6;
    display: flex;
    flex-direction: column;
    &.hidden
    {
        opacity: 0;
    }
    .back-button
    {
        display: none;
    }
    .top-bar
    {
        
       
        background-color: $main-color;
        padding: 0.25rem;
        padding-left: 0.5rem;
        display: flex;
        align-items: center;
        z-index:3;
        @include shadow($blur:7px);
        cursor: pointer;
       
        p
        {
            margin-left: 10px;
        }
    }
    .bottom-bar
    {
        background-color: $main-color;
        padding: 0.3rem;
        display: flex;
        align-items: center;
        padding-bottom: 20px;
        @include shadow($y:0px,$blur:7px);
        button
        {
            margin: 2px;
            padding: 10px;
            svg{ font-size: 1rem;}

        }
        
        
    }
    
}

#user-info-modal
{
    .modal-window-body
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        .avatar-img
        {
            width:10rem;
            height: 10rem;
        }
        .remove-button
        {
            margin-top: 10px;
        }
    }
   
}
.info-block
{
    background-color: $light-gray;
    padding: 4px;
    padding-bottom: 6px;
    padding-left: 6px;
    width:98%;
    border-radius: 10px;
    margin-top: 18px;
    small
    {
        font-size: 0.6rem;
    }
    
}

@media screen and (max-width:768px)
{
    .chat
    {
        .back-button
        {
            display: block;
            font-size: 1.05rem;
        }
        display: flex;
        &.hidden
        {
            display: none;
        }
    }
}
