@import "vars";
main
{
    background-color: $light-gray;
}
.container
{
    width:26%;
    margin: auto;
    background-color: $main-color;
    border-radius: $border-radius;
 
    padding: 10px;
    &.show
    {
        animation: show-anim;
        animation-fill-mode: forwards;
        animation-duration: 1s;

    }
    &.hidden
    {
        display: none;

    }
    input
    {
        width:100%;
        margin-top: 20px;
        

    }
    button
    {
        
        display: inline-block;
        width:48%;
        margin: 2px;
        margin-top:20px;
    }
}
.successful-register-container
{
    button
    {
        width:100%;
    }
}
.buttons-block
{
    display: flex;
    button
    {
        flex:6;
    }
}
.code-container
{
    display: none;
}

.error-msg
{
    padding: 6px;
    box-sizing: border-box;
    border: 2px solid $red;
    border-radius: $border-radius;
    margin-top: 14px;

}

@keyframes show-anim
{
    from
    {
        display: block;
       
        transform: translateY(-50px);
        opacity: 0;
    }
    to
    {
        transform: translateY(0px);
        opacity: 1;
        

    }
}
@keyframes hide-anim
{
    from
    {
        transform: translateY(0px);
        opacity: 1;
       

        
    }
    to
    {
        transform: translateY(-50px);
        opacity: 0;
        display: none;
       
    }
}

@media screen and (max-width:1024px)
{
    .container
    {
        width: 30%;
    }
}
@media screen and (max-width:768px)
{
    .container
    {
        width: 38%;
    }
}
@media screen and (max-width:600px)
{
    .container
    {
        width:82%;
    }
}
@media screen and (max-width:425px)
{
    .container
    {
        width: 90%;
    }
}