@import "vars";

.messages-view
{
    

    overflow-y: scroll;
    scroll-behavior: smooth;
    max-height: 100%;
    background-color: $gray;
    flex: auto;
    display: flex;
    
    flex-direction: column;

    scrollbar-width: 0px;
   
    &::-webkit-scrollbar
    {
        display: none;
    }
}
.date-label
{
    position: sticky;
    top:10px;
    margin: auto;
    width: 15%;
    text-align: center;
    background: $main-color;
    border-radius: $border-radius;
    p
    {
        font-size: 0.75rem;
    }
}
.message-container
{   
    
    padding: 0.45rem;
    flex-basis: auto;
    overflow: auto;
    
    
    


    .message
    {
        padding: 0.5rem;
        max-width: 60%;
        display: inline-block;
        background-color: $main-color;
        border-radius: $border-radius;
        
        p
        {
            color:black;
            
            font-family: "Physis-Light";
            &.time
            {
                text-align: right;
            }
        }
        &:not(.seen)
        {
            .bottom-block
            {
                svg.send-check
                {
                    left:0px;
                }
            }
        }
        .bottom-block
        {
            
            display: flex;
            align-items: center;

            svg
            {
                color:$main-color;
                opacity: 0;
                &.invisible
                {
                    opacity: 0;
                }
            }
            
            svg.send-check
            {
                position: relative;
                
                left:-8px;

        
            }
            svg.seen-check
            {
                position: relative;
                
                top: 1px;
                font-size: 0.95rem;
                /* border: 1px solid; */
                color: #18558b;
                z-index: 2;
            }
            .time
            {
                flex:auto;
                order:1;
                margin-left: 10px;
               
            }
        }

       
        &.local-message
        {
            
            background-color: $link-blue;
            float: right;
            p
            {
                color:$main-color;
                &.time
                {
                    text-align: left;
                    margin-left: 0px;
                    margin-right: 10px;
                }
            }
            .bottom-block
            {
                
                svg
                {
                    opacity: 1;
                }
                .time
                {
                    flex:auto;
                    order:0;
                }
            }
        }
    }
}
.grouped-messages-container:first-child
{
    margin-top: auto;
}
.date
{
    margin: 10px;
    text-align: center;
    font-size: 0.75rem;
    &:first-child
    {
        margin-top: auto;
    }
}
.time
{
   
   
    font-size: 0.75rem;
    font-family: "Physis-Light";
    color:dark-gray;

    

}