@use "vars" as *;
@use "fonts" as *;

#root, body, html
{
    height: 100%;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}
div
{
    box-sizing: border-box;

}
body
{
    margin:0px;
}
main
{
    box-sizing: border-box;
}

p
{
    margin: 0px;
    font-family: "Physis-Medium";

}
small
{
    margin: 0px;
    font-family: "Physis-Medium";
}
@for $i from 1 to 6
{
    h#{$i}
    {
        margin: 0px;
        font-family: "Physis-Medium";
    }
}



input[type='text'], input[type='password'],input[type='email'], textarea
{
    background-color: $light-gray;
    border:0px;
    border-radius: $border-radius;
    padding: 0.75rem;
    outline: none;
    box-sizing: border-box;
    &:focus,&:active
    {
        outline: none;
        
    }
}

button
{
    border-radius: $border-radius;
    background-color: $light-gray;
    font-family: "Physis-Medium";
    box-sizing: border-box;
    padding: 0.7rem;
    transition: all 0.25s;

    border:0px;
    cursor: pointer;
    &:hover
    {
        background-color: $medium-gray;
    }
    &.clear
    {
        background-color: transparent;

    }
    &.link
    {
        color: $link-blue;
        background-color: transparent;
    }
    &.remove-button
    {
        color:$red;
        border:2px solid $red;
    }
    &.blue-button
    {
        background-color: $link-blue;
        color:white;
        
        &:hover
        {
            background-color: $dark-link-blue;
        }
    }
}
@mixin shadow($x:0px, $y:2px, $blur:8px, $spread:-6px)
{
    box-shadow:$x $y $blur $spread #616161;
}

@media screen and (max-width:768px) 
{
    button
    {
        font-size: 0.95rem;
    }
    input
    {
        font-size: 0.95rem;

    }
}
