$main-color:#ffffff;
$text-color:black;
$dark-gray:#a1a1a1;
$gray:#f2f2f2;
$light-gray:#f7f7f7;
$medium-gray:#ededed;
$link-blue:#2196f3;
$dark-link-blue:#0a84e8;

$light-blue:#dcf0ff;
$red:#bf360c;

$border-radius:0.75rem;